<div class="container-fluid m-auto p-lg-5">


<div class="d-flex justify-content-center pb-2">
		<div class="card mt-5 mb-0">
			<div class="card-header">
				<h3> - </h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fa fa-facebook-square"></i></span>
					<span><i class="fa fa-google-plus-square"></i></span>
					<span><i class="fa fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

						<app-text-input [formControl]="loginForm.controls['email']" [type]="'email'"
              [label]="'Email address'">
            </app-text-input>

            <app-text-input [formControl]="loginForm.controls['password']" [type]="'password'"
              [label]="'Password'" [faicon]="'fa-lock'">
            </app-text-input>

					<div class="row align-items-center remember">
						<input type="checkbox" formControlName="rememberMe">Remember Me
					</div>
					<div class="d-flex justify-content-end mt-3 me-3">
						<input [disabled]="loginForm.invalid" type="submit" value="Login" class="btn login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a class="footer-text" [routerLink]="['/account/register']">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center mt-2 mb-4">
					<a class="footer-text" href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
</div>

</div>
