
.header {
  margin-top: 105px;
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-color: rgb(79, 135, 240);
}

.title {
  color: white;
  font-weight: 900;
}

// style="margin-top: 105px; background-color: #f5f5f5;"
